<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Ruda', sans-serif;
    }
    .text-dark {
      color: {{theme.text_dark}};
    }
    .text-light {
      color: {{theme.text_light}};
    }
    .page-container {
      width: 80%;
      margin: auto;
    }
    .page-header {
      background-color: {{theme.primary}};
      width: 40%;
      padding: 5px 10px;
      border-radius: 20px 0 0 20px;
      color: {{theme.text_light}};
      text-transform: uppercase;
      font-size: 18px;
      margin-left: 60%;
    }
    section.single-page {
      height: 1210px;
    }
    .cover-img {
      background-size: cover;
      height: 800px;
      background-repeat: no-repeat;
      border-radius: 9px;
    }
    .summary-circle {
      background-color: {{theme.primary}};
      color: {{theme.text_light}};
      width: 70px;
      height: 70px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 38px;
      font-weight: 900;
    }

    .price-oval {
      background-color: {{theme.primary}};
      color: {{theme.text_light}};
      border-radius: 10px;
      padding: 5px 10px;
      align-items: center;
      font-size: 16px;
    }

    h1 {
      color: {{theme.primary}};
      font-size: 54px;
      text-transform: uppercase;
      font-weight: 900;
    }
    h2 {
      color: {{theme.secondary}};
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
    }
    p {
      color: {{theme.text_dark}};
    }
  </style>
</head>


<body>
  {{#if sections.cover}}
    <section class="single-page">
      <div class="page-container">
        <h1 style="text-align: center; width: 60%; margin: auto;">{{ sections.cover.title }}</h1>
        <div class="cover-img" style="background-image: url({{ sections.cover.cover_image.src }}); margin: 50px 0;"></div>
        <p class="text-dark" style="text-align: center;">{{ start_date }} - {{ end_date }}</p>
      </div>
    </section>
  {{/if}}

  <section class="single-page">
    <div class="page-header">
      {{ sections.cover.title }}
    </div>
    <div class="page-container">
        <h1 style="margin-top: 50px;">SOMMAIRE</h1>
        <div style="height: 20px; display: flex;">
          <div style="width: 30%; height: 20px; background-color: {{theme.primary}}; border-radius: 20px 0 0 20px;"></div>
          <div style="width: 70%; height: 20px; background-color: {{theme.secondary}};"></div>
        </div>
        <div style="margin-top: 7%;">
          {{#each summary}}
            <div style="display: flex; align-items: center; margin-bottom: 15px;">
              <div class="summary-circle">{{index}}</div>
              <h2 style="margin-left: 10px;">{{title}}</h2>
            </div>
          {{/each}}
        </div>
    </div>
  </section>

  {{#if sections.useful-informations}}
    <section class="single-page">
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div class="cover-img" style="background-image: url({{ sections.useful-informations.cover_image.src }}); margin: 50px 0;"></div>
        <h1>{{sections.useful-informations.title}}</h1>
      </div>
    </section>

    <section>
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div style="margin-top: 80px;">
        {{#each sections.useful-informations.items.informations}}
          <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-top: 5%; page-break-after: {{ pageBreak }};">
            <img src="{{ image.src }}" style="width: 35%; height: auto; border-radius: 10px 1px 10px 10px;">
            <div style="width: 60%;">
              <div style="height: 8px; background-color: {{../theme.primary}}; border-radius: 0 10px 10px 0"></div>
              <h2 style="margin-bottom: 10px; color: {{../theme.secondary}};">{{ title }}</h2>
              <p>
                {{{ injectHTML content }}}
              </p>
            </div>
          </div>
        {{/each}}
        </div>
      </div>
    </section>
  {{/if}}

  {{#if sections.check-list}}
    <section class="single-page">
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div class="cover-img" style="background-image: url({{ sections.check-list.cover_image.src }}); margin: 50px 0;"></div>
        <h1>{{sections.check-list.title}}</h1>
      </div>
    </section>

    <section>
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div style="margin-top: 80px;">
        {{#each sections.check-list.items.check_list}}
          <div style="padding-top: 40px; page-break-after: {{ pageBreak }};">
            <h2 style="color: {{../theme.primary}};">{{ title }}</h2>
            <p style="margin-left: 10px;">{{ content }}</p>
          </div>
        {{/each}}
        </div>
      </div>
    </section>
  {{/if}}

  {{#if sections.itinerary}}
    <section class="single-page">
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div class="cover-img" style="background-image: url({{ sections.itinerary.cover_image.src }}); margin: 50px 0;"></div>
        <h1>{{sections.itinerary.title}}</h1>
      </div>
    </section>

    <section>
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        {{#each sections.itinerary.items.steps}}
          <div style="margin-top: 80px; page-break-after: always;">
            <div style="width: 100%; height: 350px; background-image: url({{ image.src }}); background-size: cover; background-repeat: no-repeat; border-radius: 6px 6px 6px 6px;"></div>
            <div>
              <h1 style="text-transform: uppercase; color: {{theme.primary}}; margin-top: 40px;">{{ title }}</h1>
              <h5 style="margin-bottom: 10px; color: {{theme.secondary}}; text-transform: uppercase;">{{ subtitle }}</h5>
              <p>
                {{{ injectHTML content }}}
              </p>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  {{#if sections.accommodations}}
    <section class="single-page">
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div class="cover-img" style="background-image: url({{ sections.accommodations.cover_image.src }}); margin: 50px 0;"></div>
        <h1>{{sections.accommodations.title}}</h1>
      </div>
    </section>

    <section>
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        {{#each sections.accommodations.items.accommodations}}
          <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-top: 5%; page-break-after: {{ pageBreak }};">
            <img src="{{ image.src }}" style="width: 200px; height: auto; border-radius: 10px;">
            <div style="width: 500px;">
              <h2 style="margin-bottom: 10px; color: {{../theme.primary}};">{{ title }}</h2>
              <div style="font-weight: bold;">{{ price }}€  |  {{arrival_date}} - {{departure_date}}</div>
              <div style="padding-top: 20px;">
                {{{ injectHTML description }}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  {{#if sections.map}}
    <section class="single-page">
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div class="cover-img" style="background-image: url({{ sections.map.cover_image.src }}); margin: 50px 0;"></div>
        <h1>{{sections.map.title}}</h1>
      </div>
    </section>

    <section>
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div style="margin-top: 80px; padding-bottom: 5%; page-break-after: always;">
          <p>{{ sections.map.items.description }}</p>
          <div style="width: 100%; height: 750px; border-radius: 10px; background-image: url({{ sections.map.items.image.src }}); background-size: cover; background-repeat: no-repeat;"></div>
          <a target="_blank" href="{{sections.map.items.link}}">{{sections.map.items.link}}</a>
        </div>
      </div>
    </section>
  {{/if}}

  {{#if sections.transports}}
    <section class="single-page">
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <div class="cover-img" style="background-image: url({{ sections.transports.cover_image.src }}); margin: 50px 0;"></div>
        <h1>{{sections.transports.title}}</h1>
      </div>
    </section>

    <section>
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        {{#each sections.transports.items.routes}}
          <div style="margin-top: 80px; page-break-after: {{ pageBreak }}; overflow: hidden;">
            <div style="display: flex; align-items: center;">
              <h2 style="color: {{../theme.primary}};">{{title}}</h2>
              <div class="price-oval" style="margin-left: 15px;">{{price}} €</div>
            </div>
            <span style="font-weight: bold;">{{company}}</span>
            <div style="font-weight: bold; display: flex; align-items: center;">
              <span>{{departure_location}} - {{departure_date}} - {{departure_hour}}</span>
              <span class="material-icons">east</span>
              <span>{{arrival_location}} - {{arrival_date}} - {{arrival_hour}}</span>
            </div>
            <p>{{{ injectHTML description }}}</p>
            <a href="{{link}}" target="_blank" rel="noopener noreferrer">{{link}}</a>
          </div>
        {{/each}}
      </div>
    </section>
  {{/if}}

  {{#if sections.contact}}
    <section>
      <div class="page-header">
        {{ sections.cover.title }}
      </div>
      <div class="page-container">
        <h1 style="text-align: center; margin-top: 30%; margin-bottom: 80px;">{{sections.contact.title}}</h1>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img style="height: 150px; width: 150px; border-radius: 50%;" src="{{sections.contact.items.image.src}}">
          <div style="margin-left: 50px;">
            <div style="display: flex; margin-bottom: 20px;">
              <span class="material-icons">email</span>
              <p>{{sections.contact.items.email}}</p>
            </div>
            <div style="display: flex; margin-bottom: 20px;">
              <span class="material-icons">call</span>
              <p>{{sections.contact.items.phone}}</p>
            </div>
            <div style="display: flex; margin-bottom: 20px;">
              <span class="material-icons">link</span>
              <p><a href="{{sections.contact.items.website}}" target="_blank">{{sections.contact.items.website}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{/if}}
</body>
</html>